@tailwind base;
@tailwind components;
@tailwind utilities;

.logseq-pinyin-tags-picker-main {
  width: 100wh;
  height: 100vh;
}

.tags-picker {
  width: 500px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(34, 37, 41, 1);
  position: fixed;
  bottom: auto;
  right: auto;
  padding: 12px;
}

.tags-picker .header {
  width: 100%;
  display: flex;
  align-items: center;
}

.tags-picker .list-container {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
